{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ordeño</h1>
<div class="page-container">
            <!-- BEGIN CONTENT -->
                    <div class="row">
                       <div class="col-xs-12 col-sm-12        col-md-12 col-lg-12 ">
                            <a class="btn btn-success" href="{{ path('ordeno_new') }}" ><span>Agregar</span></a>
                            <br><br>                            
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-green">
                                        <i class="icon-settings font-green"></i>
                                        <span class="caption-subject bold uppercase"></span>
                                    </div>
                                    <div class="tools"> </div>
                                </div>
                                <div class="portlet-body">
                                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_2">
                                        <thead>
                                            <tr>
                                                 <th>Detalle</th>
                                                 <th>Editar</th>
                                                <th>Número de Vacas Ordeñadas</th>
                                                <th>Litros de leche</th>
                                                <th>Número de Ordeños al día</th>
                                                <th>Número de Autoconsumo</th>
                                                <th>Número de Receptoría</th>
                                                <th>Número de Queseras</th>
                                                <th>Número de Queso finca</th>
                                                <th>Fecha</th>
                                                <th>Id</th>
                                                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ordeno in ordenos %}
            <tr>
                <td><a href="{{ path('ordeno_show', { 'id': ordeno.id }) }}">{{ ordeno.numVacasOrdenadas }}</a></td>
                <td>{{ ordeno.ltsLeche }}</td>
                <td>{{ ordeno.numOrdenosAlDia }}</td>
                <td>{{ ordeno.numAutoconsumo }}</td>
                <td>{{ ordeno.numReceptoria }}</td>
                <td>{{ ordeno.numQueseras }}</td>
                <td>{{ ordeno.numQuesoFinca }}</td>
                <td>{% if ordeno.fecha %}{{ ordeno.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ ordeno.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ordeno_show', { 'id': ordeno.id }) }}">Mostrar</a>
                        </li>
                        <li>
                            <a href="{{ path('ordeno_edit', { 'id': ordeno.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
{% endblock %}
