{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ordeño</h1>

    <table>
        <thead>
            <tr>
                <th>Num vacas ordeñadas</th>
                <th>Litros de leche</th>
                <th>Num ordeños aldia</th>
                <th>Num autoconsumo</th>
                <th>Num receptoría</th>
                <th>Num queseras</th>
                <th>Num queso finca</th>
                <th>Fecha</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ordeno in ordenos %}
            <tr>
                <td><a href="{{ path('ordeno_show', { 'id': ordeno.id }) }}">{{ ordeno.numVacasOrdenadas }}</a></td>
                <td>{{ ordeno.ltsLeche }}</td>
                <td>{{ ordeno.numOrdenosAlDia }}</td>
                <td>{{ ordeno.numAutoconsumo }}</td>
                <td>{{ ordeno.numReceptoria }}</td>
                <td>{{ ordeno.numQueseras }}</td>
                <td>{{ ordeno.numQuesoFinca }}</td>
                <td>{% if ordeno.fecha %}{{ ordeno.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ ordeno.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ordeno_show', { 'id': ordeno.id }) }}">Mostrar</a>
                        </li>
                        <li>
                            <a href="{{ path('ordeno_edit', { 'id': ordeno.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ordeno_new') }}">Crear nueva entrada</a>
        </li>
    </ul>
{% endblock %}
