{% extends 'base.html.twig' %}

{% block body %}
    <h1>SistemaRiego creation</h1>
<div class="row">
        <div class="col-xs-6 col-sm-6	col-md-6 col-lg-6 ">
            <!-- BEGIN SAMPLE FORM PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-title">
                </div>
                <div class="portlet-body form">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Crear" />
    {{ form_end(form) }}

                    <button type="button" class="btn btn-primary"  id="clear">Limpiar</button>
                    <a href="{{ path('sistemariesgo_index') }}" class="btn btn-danger" role="button">Cancelar</a>
                    <button type="submit" class="btn btn-success ">Enviar</button>
                    {{ form_end(form) }}
                    <br>
                    <div class="form-actions">
                    </div>
                </div>
            </div>
            <!-- END SAMPLE FORM PORTLET-->
        </div>
     </div>
 {% endblock %}
