{% extends 'base.html.twig' %}

{% block body %}
    <h1>Actividades</h1>
<div class="page-container">
            <!-- BEGIN CONTENT -->
                    <div class="row">
                       <div class="col-xs-12 col-sm-12        col-md-12 col-lg-12 ">
                            <a class="btn btn-success" href="{{ path('actividad_new') }}" ><span>Agregar</span></a>
                            <br><br>                            
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-green">
                                        <i class="icon-settings font-green"></i>
                                        <span class="caption-subject bold uppercase"></span>
                                    </div>
                                    <div class="tools"> </div>
                                </div>
                                <div class="portlet-body">
                                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_2">
                                        <thead>
                                            <tr>
                                                 <th>Ver</th>
                                                 <th>Editar</th>
                                                <th>Corrales</th>
                                                <th>Manga</th>
                                                <th>Bretes</th>
                                                <th>Romana</th>
                                                <th>Sala Ordeño</th>
                                                <th>Bebederos</th>
                                                <th>Comederos</th>
                                                <th>Cerco Eléctrico</th>
                                                <th>Número Potreros</th>
                                                <th>Has Por Potreros</th>
                                                <th>Planta eléctrica</th>
                                                <th>Tractores 4x2</th>
                                                <th>Tractores 4x4</th>
                                                <th>Galpones</th>
                                                <th>Silos</th>
                                                <th>Sembradora</th>
                                                <th>Cosechadora</th>
                                                <th>Asperjadora</th>
                                                <th>Carreta Zorra</th>
                                                <th>Rotativa</th>
                                                <th>Rolo</th>
                                                <th>Arado</th>
                                                <th>Surcadora</th>
                                                <th>Abonadora</th>
                                                <th>Embutidora</th>
                                                <th>Vagon Forrajero</th>
                                                <th>Bolsas Ensilar</th>
                                                <th>Mecánico</th>
                                                <th>Manual</th>
                                                <th>Tanque frío</th>
                                                <th>Cantaras</th>
                                                <th>Filtros tela</th>
                                                <th>Paletas CMT</th>
                                                <th>Paletas Fondo Negro</th>
                                                <th>Reactivo CMT</th>
                                                <th>Ordeño Techo</th>
                                                <th>Ordeno piso cemento</th>
                                                <th>Tanque Nitrógeno</th>
                                                <th>Caja inseminación</th>
                                                <th>Pistoleta inseminación</th>
                                                <th>Termo descongelar pajuelas</th>
                                                <th>Fecha</th>
                                                
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for actividad in actividads %}
                                            <tr>
                                               
                                                 <td>
                                                    <center>
                                                        <a href="{{ path('actividad_show', { 'id': finca.id }) }}">
                                                            <i class="glyphicon glyphicon-search"></i>
                                                        </a>      
                                                    </center>
                                                </td>
                                                    <td>
                                                    <center>
                                                        <a href="{{ path('actividad_edit', { 'id': finca.id }) }}">
                                                            <i class="glyphicon glyphicon-pencil"></i>
                                                        </a>      
                                                    </center>
                                                </td>
                                                 <td><a href="{{ path('actividad_show', { 'id': actividad.id }) }}">{{ actividad.corralesCantidad }}</a></td>
                                                <td>{{ actividad.mangaCantidad }}</td>
                                                <td>{{ actividad.bretesCantidad }}</td>
                                                <td>{{ actividad.romanaCantidad }}</td>
                                                <td>{{ actividad.salaOrdenoCantidad }}</td>
                                                <td>{{ actividad.bebederosCantidad }}</td>
                                                <td>{{ actividad.comederosCantidad }}</td>
                                                <td>{{ actividad.cercoElectricoCantidad }}</td>
                                                <td>{{ actividad.numPotrerosCantidad }}</td>
                                                <td>{{ actividad.hasXPotrerosCantidad }}</td>
                                                <td>{{ actividad.plantaElectricaCantidad }}</td>
                                                <td>{{ actividad.tractores4x2Cantidad }}</td>
                                                <td>{{ actividad.tractores4x4Cantidad }}</td>
                                                <td>{{ actividad.galponesCantidad }}</td>
                                                <td>{{ actividad.silosCantidad }}</td>
                                                <td>{{ actividad.sembradoraCantidad }}</td>
                                                <td>{{ actividad.cosechadoraCantidad }}</td>
                                                <td>{{ actividad.asperjadoraCantidad }}</td>
                                                <td>{{ actividad.carretaZorraCantidad }}</td>
                                                <td>{{ actividad.rotativaCantidad }}</td>
                                                <td>{{ actividad.roloCantidad }}</td>
                                                <td>{{ actividad.aradoCantidad }}</td>
                                                <td>{{ actividad.surcadoraCantidad }}</td>
                                                <td>{{ actividad.abonadoraCantidad }}</td>
                                                <td>{{ actividad.embutidoraCantidad }}</td>
                                                <td>{{ actividad.vagonForrajeroCantidad }}</td>
                                                <td>{{ actividad.bolsasEnsilarCantidad }}</td>
                                                <td>{{ actividad.mecanicoCantidad }}</td>
                                                <td>{{ actividad.manualCantidad }}</td>
                                                <td>{{ actividad.tanqueFrioCantidad }}</td>
                                                <td>{{ actividad.cantarasCantidad }}</td>
                                                <td>{{ actividad.filtrosTelaCantidad }}</td>
                                                <td>{{ actividad.paletasCmtCantidad }}</td>
                                                <td>{{ actividad.paletasFondoNegroCantidad }}</td>
                                                <td>{{ actividad.reactivoCmtCantidad }}</td>
                                                <td>{{ actividad.ordenoTechoCantidad }}</td>
                                                <td>{{ actividad.ordenoPisoCementoCantidad }}</td>
                                                <td>{{ actividad.tanqueNitrogenoCantidad }}</td>
                                                <td>{{ actividad.cajaInseminacionCantidad }}</td>
                                                <td>{{ actividad.pistoletaInseminacionCantidad }}</td>
                                                <td>{{ actividad.termoDescongelarPajuelasCantidad }}</td>
                                                <td>{% if actividad.fecha %}{{ actividad.fecha|date('Y-m-d') }}{% endif %}</td>

                                            </tr>
                                        {% endfor %}
                                        </tbody>                                        
                                    </table>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                        
                    </div>
   
{% endblock %}
