{% extends 'base.html.twig' %}

{% block body %}
    <h1>Productor</h1>
<!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
                    <div class="row">
                       <div class="col-xs-12 col-sm-12        col-md-12 col-lg-12 ">
                            <a class="btn btn-success" href="{{ path('condicionvia_new') }}" ><span>Agregar</span></a>
                            <br><br>                            
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-green">
                                        <i class="icon-settings font-green"></i>
                                        <span class="caption-subject bold uppercase"></span>
                                    </div>
                                    <div class="tools"> </div>
                                </div>
                                <div class="portlet-body">
                                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_2">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Rif</th>
                <th>Teléfono 1</th>
                <th>Teléfono 2</th>
                <th>Emal 1</th>
                <th>Email 2</th>
                <th>Sabe leer</th>
                <th>Experiencia como productor</th>
                <th>Lugar de habitacion</th>
                <th>Visible</th>
                
            </tr>
        </thead>
        <tbody>
        {% for productor in productors %}
            <tr>
                <td><a href="{{ path('productor_show', { 'id': productor.id }) }}">{{ productor.nombre }}</a></td>
                <td>{{ productor.apellido }}</td>
                <td>{{ productor.rif }}</td>
                <td>{{ productor.tlf1 }}</td>
                <td>{{ productor.tlf2 }}</td>
                <td>{{ productor.emal1 }}</td>
                <td>{{ productor.email2 }}</td>
                <td>{% if productor.sabeLeer %}Yes{% else %}No{% endif %}</td>
                <td>{{ productor.exProductor }}</td>
                <td>{{ productor.lugarHabitacion }}</td>
                <td>{% if productor.visible %}Yes{% else %}No{% endif %}</td>
                <td>{{ productor.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('productor_show', { 'id': productor.id }) }}">Mostrar</a>
                        </li>
                        <li>
                            <a href="{{ path('productor_edit', { 'id': productor.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('productor_new') }}">Crear nueva entrada</a>
        </li>
    </ul>
{% endblock %}
