{% extends 'base.html.twig' %}

{% block body %}
    <h1>Productor</h1>

    <table>
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ productor.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ productor.apellido }}</td>
            </tr>
            <tr>
                <th>Rif</th>
                <td>{{ productor.rif }}</td>
            </tr>
            <tr>
                <th>Teléfono 1</th>
                <td>{{ productor.tlf1 }}</td>
            </tr>
            <tr>
                <th>Teléfono 2</th>
                <td>{{ productor.tlf2 }}</td>
            </tr>
            <tr>
                <th>Emal 1</th>
                <td>{{ productor.emal1 }}</td>
            </tr>
            <tr>
                <th>Email 2</th>
                <td>{{ productor.email2 }}</td>
            </tr>
            <tr>
                <th>Sabe leer</th>
                <td>{% if productor.sabeLeer %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Experiencia como productor</th>
                <td>{{ productor.exProductor }}</td>
            </tr>
            <tr>
                <th>Lugar de habitación</th>
                <td>{{ productor.lugarHabitacion }}</td>
            </tr>
            <tr>
                <th>Visible</th>
                <td>{% if productor.visible %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ productor.id }}</td>
            </tr>
        </tbody>
    </table>

    
        
            <a class="btn btn-success" href="{{ path('productor_index') }}" ><span>Regresar a la lista </span></a>
         
            <a href="{{ path('productor_edit', { 'id': productor.id }) }}">Editar</a>
        
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
       
{% endblock %}
