{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nivel de Educación</h1>

    <table>
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nivelEducacion in nivelEducacions %}
            <tr>
                <td><a href="{{ path('niveleducacion_show', { 'id': nivelEducacion.id }) }}">{{ nivelEducacion.descripcion }}</a></td>
                <td>{{ nivelEducacion.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('niveleducacion_show', { 'id': nivelEducacion.id }) }}">Mostrar</a>
                        </li>
                        <li>
                            <a href="{{ path('niveleducacion_edit', { 'id': nivelEducacion.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('niveleducacion_new') }}">Crear nueva entrada</a>
        </li>
    </ul>
{% endblock %}
