{% extends 'base.html.twig' %}

{% block body %}
    <h1>Alimentación</h1>
 <!-- BEGIN CONTAINER -->
        <div class="page-container">
            <!-- BEGIN CONTENT -->
                    <div class="row">
                       <div class="col-xs-12 col-sm-12        col-md-12 col-lg-12 ">
                            <a class="btn btn-success" href="{{ path('alimentacion_new') }}" ><span>Agregar</span></a>
                            <br><br>                            
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-green">
                                        <i class="icon-settings font-green"></i>
                                        <span class="caption-subject bold uppercase"></span>
                                    </div>
                                    <div class="tools"> </div>
                                </div>
                                <div class="portlet-body">
                                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_2">
                                        <thead>
                                            <tr>
                                                <th class="all" width="10%">Detalle</th>
                                                <th class="all" width="10%">Editar</th>
                                                <th>Pasto corte tipo 1</th>
                                                <th>Pasto corte hectarias 1</th>
                                                <th>Pasto corte tipo 2</th>
                                                <th>Pastocortehectareas2</th>
                                                <th>Brachariatipo</th>
                                                <th>Brachariahectareas</th>
                                                <th>Estrellatipo</th>
                                                <th>Estrellahectareas</th>
                                                <th>Guineatipo</th>
                                                <th>Guineahectareas</th>
                                                <th>Alemantipo</th>
                                                <th>Alemanhectareas</th>
                                                <th>Cana azucar tipo</th>
                                                <th>Cana azucar hectareas</th>
                                                <th>Num potreros tipo</th>
                                                <th>Numpotrerosareapromedio</th>
                                                <th>Silos</th>
                                                <th>Silos cultivo</th>
                                                <th>Toneladas silos cosechadas</th>
                                                <th>Toneladas silos cosechadas obsv</th>
                                                <th>Suministraminerales</th>
                                                <th>Suministramineraleskgs</th>
                                                <th>Suministraconcentrado</th>
                                                <th>Suministra concentrado kgs</th>
                                                <th>Fecha</th>
                                                </tr>
                                                </thead>
    
        <tbody>
        {% for alimentacion in alimentacions %}
            <tr>
                                                <td>
                                                    <center>
                                                        <a href="{{ path('finca_show', { 'id': alimentacion.id }) }}">
                                                            <i class="glyphicon glyphicon-search"></i>
                                                        </a>      
                                                    </center>
                                                </td>
                                                    <td>
                                                    <center>
                                                        <a href="{{ path('finca_edit', { 'id': alimentacion.id }) }}">
                                                            <i class="glyphicon glyphicon-pencil"></i>
                                                        </a>      
                                                    </center>
                                                </td>
                                                
                                                  <td><a href="{{ path('alimentacion_show', { 'id': alimentacion.id }) }}">{{ alimentacion.pastoCorteTipo1 }}</a></td>
                                                    <td>{{ alimentacion.pastoCorteHectarias1 }}</td>
                                                    <td>{{ alimentacion.pastoCorteTipo2 }}</td>
                                                    <td>{{ alimentacion.pastoCorteHectareas2 }}</td>
                                                    <td>{% if alimentacion.brachariaTipo %}Yes{% else %}No{% endif %}</td>
                                                    <td>{{ alimentacion.brachariaHectareas }}</td>
                                                    <td>{% if alimentacion.estrellaTipo %}Yes{% else %}No{% endif %}</td>
                                                    <td>{{ alimentacion.estrellaHectareas }}</td>
                                                    <td>{% if alimentacion.guineaTipo %}Yes{% else %}No{% endif %}</td>
                                                    <td>{{ alimentacion.guineaHectareas }}</td>
                                                    <td>{% if alimentacion.alemanTipo %}Yes{% else %}No{% endif %}</td>
                                                    <td>{{ alimentacion.alemanHectareas }}</td>
                                                    <td>{{ alimentacion.canaAzucarTipo }}</td>
                                                    <td>{{ alimentacion.canaAzucarHectareas }}</td>
                                                    <td>{{ alimentacion.numPotrerosTipo }}</td>
                                                    <td>{{ alimentacion.numPotrerosAreaPromedio }}</td>
                                                    <td>{{ alimentacion.silos }}</td>
                                                    <td>{{ alimentacion.silosCultivo }}</td>
                                                    <td>{{ alimentacion.toneladasSilosCosechadas }}</td>
                                                    <td>{{ alimentacion.toneladasSilosCosechadasObsv }}</td>
                                                    <td>{% if alimentacion.suministraMinerales %}Yes{% else %}No{% endif %}</td>
                                                    <td>{{ alimentacion.suministraMineralesKgs }}</td>
                                                    <td>{% if alimentacion.suministraConcentrado %}Yes{% else %}No{% endif %}</td>
                                                    <td>{{ alimentacion.suministraConcentradoKgs }}</td>
                                                    <td>{% if alimentacion.fecha %}{{ alimentacion.fecha|date('Y-m-d') }}{% endif %}</td>
                                                    <td>{{ alimentacion.id }}</td>
                
                                            </tr>
                                        {% endfor %}
                                        </tbody>                                        
                                    </table>
                                </div>
                            </div>
                            <!-- END EXAMPLE TABLE PORTLET-->
                        </div>
                        
                    </div>
                           
{% endblock %}