{% extends 'base.html.twig' %}

{% block body %}
    <h1>Manejo Reproductivo</h1>
<div class="page-container">
            <!-- BEGIN CONTENT -->
                    <div class="row">
                       <div class="col-xs-12 col-sm-12        col-md-12 col-lg-12 ">
                            <a class="btn btn-success" href="{{ path('manejoreproductivo_new') }}" ><span>Agregar</span></a>
                            <br><br>                            
                            <!-- BEGIN EXAMPLE TABLE PORTLET-->
                            <div class="portlet light bordered">
                                <div class="portlet-title">
                                    <div class="caption font-green">
                                        <i class="icon-settings font-green"></i>
                                        <span class="caption-subject bold uppercase"></span>
                                    </div>
                                    <div class="tools"> </div>
                                </div>
                                <div class="portlet-body">
                                    <table class="table table-striped table-bordered table-hover dt-responsive" width="100%" id="sample_2">
                                        <thead>
                                            <tr>
                                                <th>Detalle</th>
                                                 <th>Editar</th>
                                                <th>Tecnmontanat</th>
                                                <th>Tecnmontacontrolada</th>
                                                <th>Tecninseminacion</th>
                                                <th>Tecntransfembriones</th>
                                                <th>Fecha</th>
                                                <th>Id</th>
                                                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for manejoReproductivo in manejoReproductivos %}
            <tr>
                <td><a href="{{ path('manejoreproductivo_show', { 'id': manejoReproductivo.id }) }}">{{ manejoReproductivo.tecnMontaNat }}</a></td>
                <td>{% if manejoReproductivo.tecnMontaControlada %}Yes{% else %}No{% endif %}</td>
                <td>{% if manejoReproductivo.tecnInseminacion %}Yes{% else %}No{% endif %}</td>
                <td>{% if manejoReproductivo.tecnTransfEmbriones %}Yes{% else %}No{% endif %}</td>
                <td>{% if manejoReproductivo.fecha %}{{ manejoReproductivo.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ manejoReproductivo.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('manejoreproductivo_show', { 'id': manejoReproductivo.id }) }}">Mostrar</a>
                        </li>
                        <li>
                            <a href="{{ path('manejoreproductivo_edit', { 'id': manejoReproductivo.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('manejoreproductivo_new') }}">Crear nueva entrada</a>
        </li>
    </ul>
{% endblock %}
